<div class="scrollable-content-wrapper">
  <div class="scrollable-content">
    <div class="header d-flex justify-content-between">
      <h2>{{ ($currentGroup | async)?.name }}</h2>
      <div class="group-settings">
        <div ngbDropdown class="d-inline-block" placement="left-top">
          <button id="dropdownBasic1" class="btn btn-primary" ngbDropdownToggle>
            <fa-icon [icon]="['fas', 'cogs']" size="1x"></fa-icon>
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu">
            <button ngbDropdownItem (click)="openInvitationsModal()" accessControl
              [accessControlAction]="['manage_invitations']" [accessControlGroupId]="($currentGroup | async)?.groupId">
              Invite people
            </button>
            <button ngbDropdownItem (click)="openManageRolesModal()" accessControl
              [accessControlAction]="['manage_roles_general']"
              [accessControlGroupId]="($currentGroup | async)?.groupId">
              Manage roles
            </button>
            <button ngbDropdownItem (click)="openMembersModal()">
              View members
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="content-wrapper">
      <div class="content">
        <div class="body">
          <div class="group-layout">
            <div class="left-pannel">
              <div class="left-pannel-header">
                <span><strong>Channels</strong></span>
                <button class="btn btn-primary" (click)="openCreateChannelModal()" accessControl
                  [accessControlAction]="['manage_channels_general']"
                  [accessControlGroupId]="($currentGroup | async)?.groupId">
                  <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                </button>
              </div>
              <div class="left-pannel-body">
                <div class="left-pannel-body-wrapper">
                  <div class="left-pannel-body-scrollable">
                    <div class="d-flex">
                      <ul ngbNav #nav="ngbNav" class="nav-pills w-100" orientation="vertical" roles="false"
                        (navChange)="navigateToChannel($event)">
                        <li *ngFor="let channel of $channels | async" [ngbNavItem]="channel.channelId">
                          <a ngbNavLink class="d-flex justify-content-between">
                            <span>{{ channel.channelName }}</span>
                            <div ngbDropdown class="d-inline-block" placement="left-top" container="body"
                              (click)="channelDropdownChange($event)" accessControl
                              [accessControlAction]="['manage_channels']"
                              [accessControlGroupId]="($currentGroup | async)?.groupId"
                              [accessControlChannelId]="channel.channelId">
                              <button id="dropdownBasic1" class="btn btn-outline-secondary" ngbDropdownToggle>
                                <fa-icon [icon]="['fas', 'ellipsis-h']" size="1x"></fa-icon>
                              </button>
                              <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu">
                                <button ngbDropdownItem (click)="openManagePermissions(channel)" accessControl
                                  [accessControlAction]="['manage_roles']"
                                  [accessControlGroupId]="($currentGroup | async)?.groupId"
                                  [accessControlChannelId]="channel.channelId">
                                  Manage permissions
                                </button>
                                <button ngbDropdownItem (click)="removeChannel(channel.channelId)" accessControl
                                  [accessControlAction]="['manage_channels']"
                                  [accessControlGroupId]="($currentGroup | async)?.groupId"
                                  [accessControlChannelId]="channel.channelId">
                                  Remove channel
                                </button>
                              </div>
                            </div>
                          </a>
                        </li>
                        <li style="display: none" [ngbNavItem]="1">
                          <!--Without this selecting is not working, idk why-->
                          <a ngbNavLink class="d-flex justify-content-between">
                          </a>
                          <!-- <ng-template ngbNavContent></ng-template> -->
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="main-pannel">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
