<h2 class="text-center">Friends</h2>
<div class="container">
  <ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li ngbNavItem>
      <a ngbNavLink>All friends</a>
      <ng-template ngbNavContent>
        <app-all-friends></app-all-friends>
      </ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink>Pending invitations</a>
      <ng-template ngbNavContent>
        <app-pending-invitations></app-pending-invitations>
      </ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink>Add friend</a>
      <ng-template ngbNavContent>
        <app-invite-friend></app-invite-friend>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav"></div>
</div>
