/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

body {
  overflow: hidden;
}

.centered-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.scrollable-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  .header {
    flex-grow: 5;
    display: flex;
    justify-content: center;
  }
  .content-wrapper {
    position: relative;
    flex-grow: 95;
  }
  .content {
    height: 100%;
    width: 100%;
    position: absolute;
    flex-direction: column;
    display: flex;
    p {
      margin: 0;
    }
    .body {
      overflow-y: auto;
      flex-grow: 1;
      flex-direction: column;
      display: flex;
    }
  }
  &-wrapper {
    height: 100%;
    width: 100%;
  }
}

.dropdown-toggle::after {
  display: none;
}

.tab-content {
  height: inherit;
}
div[ngbnavpane].tab-pane {
  height: inherit;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
