/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.centered-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}