<div class="home">
  <div class="menu-toggle d-md-none position-absolute" (click)="isMenuVisible = true" *ngIf="!isMenuVisible">
    <fa-icon [icon]="toggleMenuIcon" size="2x"></fa-icon>
  </div>
  <div class="menu" *ngIf="isMenuVisible">
    <div class="d-flex flex-column flex-grow-1 h-100">
      <div class="flex-grow-1 position-relative">
        <div class="card position-absolute h-100 w-100">
          <div class="card-header">
            <button type="button" class="close d-md-none" aria-label="Close" (click)="isMenuVisible = false">
              <span aria-hidden="true">&times;</span>
            </button>
            <h1 class="h4">InstantMessenger</h1>
          </div>
          <div class="card-body">
            <!-- your navs bound to current route fragments -->
            <ul ngbNav [activeId]="($currentPath | async)" class="nav flex flex-column align-items-stretch h-100">
              <li [ngbNavItem]="link.link" *ngFor="let link of links"
                class="nav-item flex-grow-1 flex-shrink-1 flex-auto">
                <a class="nav-link btn btn-outline-primary" ngbNavLink routerLink="{{link.link}}">{{ link.title }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="flex-grow-0">
        <div class="bottom pl-2">
          <img src="{{$avatar|async}}" alt="" class="rounded-circle user-img" />
          <span class="nickname">{{$nickname|async}}</span>
          <button class="btn btn-secondary" (click)="logout()">
            <fa-icon [icon]="['fas','sign-out-alt']"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="main">
    <router-outlet></router-outlet>
  </div>
</div>
