<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nickname</th>
      <th scope="col">Since</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let friendship of $friendships | async;">
      <td><img class="friend-icon" src="{{friendship.friend.avatar }}" /></td>
      <td>
        {{friendship.friend.nickname}}
      </td>
      <td>{{friendship.createdAt | date: 'yyyy/MM/dd HH:mm'}}</td>
      <td>
        <div class="d-flex justify-content-end">
          <button class="btn btn-sm btn-primary mr-1" (click)="goToConversation(friendship.id)">Chat</button>
          <button class="btn btn-sm btn-danger mr-1" (click)="removeFriend(friendship.id)">Remove</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<div class="d-flex justify-content-between p-2">
  <ngb-pagination [(page)]="this.paginator.currentPage" [pageSize]="this.paginator.pageSize"
    [collectionSize]="this.$totalSize | async" (pageChange)="refreshFriends()">
  </ngb-pagination>

  <select class="custom-select" style="width: auto" [(ngModel)]="this.paginator.pageSize"
    (ngModelChange)="refreshFriends()">
    <option [ngValue]="2">2 items per page</option>
    <option [ngValue]="4">4 items per page</option>
    <option [ngValue]="6">6 items per page</option>
  </select>
</div>
