.profile {
  &-img {
    width: 128px;
    height: 128px;
  }
  &-nickname {
    font-size: 2rem;
    position: absolute;
    bottom: 0;
    &-edit {
      font-size: 1.4rem;
    }
  }
  &-nickname-container {
    position: relative;
  }
}
